%li.list-inline-item
  = link_to(package_submit_request_path(project: project, package: package, revision: revision),
            class: 'nav-link') do
    %i.fas.fa-share-square.text-warning
    Submit package
