%li.nav-item
  = link_to(package_submit_request_path(project: project, package: package, revision: revision),
            class: 'nav-link') do
    %i.fas.fa-share-square.fa-lg.mr-2
    Submit package
